@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-display: "Sora", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

body {
  margin: 0;
  color: #E2E8F0;
  background-color: #05070D;
}
